@import "tailwindcss";

:root {
  --background: #0a0a23;
  --chat-primary: #3d61d4;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-chat-primary: var(--chat-primary);
}

html,
body {
  max-width: 100vw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

body {
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baloons_wish {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden; /* hide balloons outside screen */
}

.baloons img {
  position: absolute; /* required for free movement */
  bottom: -100%;
}
