@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Caveat+Brush&family=Patrick+Hand&family=Titan+One&display=swap");
@import "tailwindcss";

:root {
  --background: #0a0a23;
  --chat-primary: #3d61d4;
  --color-dark: #333;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-chat-primary: var(--chat-primary);
  --color-text-main: #c80000;
  --color-dark: var(--color-dark);
}

html,
body {
  max-width: 100vw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

body {
  background-color: #feecea;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 76%,
      transparent 77%,
      transparent
    );
  background-size: 60px 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baloons_wish {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden; /* hide balloons outside screen */
}

.baloons img {
  position: absolute; /* required for free movement */
  bottom: -100%;
}
.textShadow {
  text-shadow: 1px 1px var(--color-dark), -1px 1px var(--color-dark),
    1px -1px var(--color-dark), -1px -1px var(--color-dark),
    2px 3px 0 var(--color-dark);
}

.rotateCricle {
  animation: rotateCricle 5s linear infinite;
}

@keyframes rotateCricle {
  to {
    transform: rotate(360deg);
  }
}

.scale-animation {
  animation: scaleUpDown 1s infinite ease-in-out;
}

/* Keyframes for scaling up and down */
@keyframes scaleUpDown {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* scale up to 1.5 times */
  }
}

.caveat-brush {
  font-family: "Caveat Brush", cursive;
}
.titan-one {
  font-family: "Titan One", sans-serif;
}
.patrick-hand {
  font-family: "Patrick Hand", cursive;
}
.alkatra {
  font-family: "Alkatra", system-ui;
}
